<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="main.css">
        
        <title>Sidebar sub menus</title>
    </head>
    <body id="body-pd">
        <!--- Sidebar --->
        <div class="l-navbar" id="navbar">
            <nav class="nav">
                <div>
                    <div class="nav__brand">
                        <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                    </div>
                    <div class="nav__list">
                        <a href="#" class="nav__link active">
                            <ion-icon name="home-outline" class="nav__icon"></ion-icon>
                            <span class="nav__name">View site</span>
                        </a>

                        <div  class="nav__link collapse">
                            <ion-icon name="document-outline" class="nav__icon"></ion-icon>
                            <span class="nav__name">Page</span>

                            <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                            <ul class="collapse__menu">
                                <a href="testimonials.html" class="collapse__sublink">Testimonials</a>
                                <a href="events.html" class="collapse__sublink">Events</a>
                            </ul>
                        </div>

                        <a href="emails.html" class="nav__link">
                            <ion-icon name="mail-outline" class="nav__icon"></ion-icon>
                            <span class="nav__name">Emails</span>
                        </a>
                        <div class="nav__link collapse">
                            <ion-icon name="people-outline" class="nav__icon"></ion-icon>
                            <span class="nav__name">Register</span>

                            <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                            <ul class="collapse__menu">
                                <a href="camp.html" class="collapse__sublink">Camp</a>
                                <a href="fans.html" class="collapse__sublink">Fans</a>
                            </ul>
                        </div>
                    </div>
                </div>

                <a href="#" class="nav__link">
                    <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                    <span class="nav__name">Log Out</span>
                </a>
            </nav>
        </div>

        <!--- Header --->
        <header>
            <img src="img/logo.svg" alt="logo" class="logo"></a>
        </header>

        <!--- Table Email --->
        <main id="app" class="">
            <h2>Emails Website</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Comments</th>
                        <th>Delete</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>William Bergeron</td>
                        <td>wbergeron@gmail.com</td>
                        <td>School Hockey Team</td>
                        <td>X</td>
                    </tr>
                    <tr>
                        <td>William Bergeron</td>
                        <td>wbergeron@gmail.com</td>
                        <td>School Hockey Team</td>
                        <td>X</td>
                    </tr>                      
                </tbody>
            </table>              
        </main>   


        <footer>

        </footer>


        <!-- IONICONS-->
        <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
        
        <!--MAIN JS-->
        <script src="main.js"></script>
    </body>
</html>